{% load static %}

{% comment %} {% if validlink %}
    <form action="" method=POST>
        {% csrf_token %}
        {{ form }}
        <button type="submit">Confirm new password</button>
    </form>
{% else %}
    <h2>Invalid token!</h2>
    <a href="{% url 'password_reset' %}">Request a new password reset token</a>
{% endif %} {% endcomment %}

<!DOCTYPE html>
<html>
    <head>
        <title>Set New Password</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}"> 
        <!-- Google Font -->
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body>
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <!-- If the link is valid -->
                    {% if validlink %}
                        <div class="banner">
                            <h5>Remember:</h5>
                            <ul>
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>  
                        </div>
                        <div class="d-flex justify-content-center password-reset-header">
                            <h5 class="form-title">Set New Password</h5>
                        </div>

                        <div class="d-flex justify-content-center form_container">
                            <form method="POST" action="">
                                {% csrf_token %}

                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    {{ form.new_password1 }}
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    {{ form.new_password2 }}
                                </div>
                                
                                <!-- Submit Button -->
                                <div class="d-flex justify-content-center mt-3 login_container">
                                    <input class="btn btn-primary" type="submit" value="Confirm new Password">
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <h2>Invalid token!</h2>
                        <a href="{% url 'password_reset' %}">Request a new password reset token</a>
                    {% endif %}

                    
                </div>
            </div>
        </div>
        <script>

            // As we cannot 'see' the email input, we will set placeholder and form-control with some JS

            var form_fields = document.getElementsByTagName('input')
            form_fields[1].placeholder='New Password...';
            form_fields[2].placeholder='Confirm Password...';
            form_fields[3].placeholder='New Password...';
            form_fields[4].placeholder='Confirm Password...';

            for (var field in form_fields){	
                form_fields[field].className += ' form-control'
            }
        </script>
    </body>
</html> 