{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password Reset Confirmation</title>
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}"> 
        <!-- Google Font -->
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body>
        <div>
            <h1>Password reset complete</h1>

            <p>You have successfully changed the password</p>
            <p>You may now try login again on the <a href="{% url 'index' %}">home page</a></p>
        </div>
    </body>
</html>