argon2-cffi==20.1.0
asgiref==3.2.7
bcrypt==3.1.7
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
coverage==5.2.1
Django==3.0.3
django-cors-headers==3.4.0
django-debug-toolbar==2.2
djangorestframework==3.11.0
Faker==4.1.0
idna==2.10
joblib==0.16.0
numpy==1.19.1
pandas==1.1.0
Pillow==7.1.2
pycparser==2.20
pyleapcard==0.1.8
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.2
selenium==3.141.0
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
sqlparse==0.3.1
text-unidecode==1.3
threadpoolctl==2.1.0
urllib3==1.25.9