{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    
    <!-- Selectize -->
    {% comment %} <script src='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js'></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap2.css" rel="stylesheet"> {% endcomment %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> 
</head>

<body>
    <div class="d-flex justify-content-between header align-items-center fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link active" href="#" onclick="navbarDisplay(event, 'home-search-container')">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" href="#" onclick="navbarDisplay(event, 'search-by-route-container')">Search by Route</a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" href="#" onclick="navbarDisplay(event, 'bus-stop-search-container')">Search by Bus Stop</a>
                </li>
            </ul>
            
            </div>
        </nav>
        <div id="weather-container">  
            <span id="temperature" style="padding-right: 20px;"></span> 
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <!-- Map -->
                <div id="map" style="height:500px; width:100%"></div>
            </div>
            <div class="col-md-auto">
                
                <!-- Menu for the Home page -->
                <div id='home-search-container' class="container centre-and-padding tabcontent">
                    <h3>Plan Your Trip</h3>
                    <form action="/">
                        <label for="origin">Origin:</label><br>
                        <input type="text" id="origin-default-search" name="origin"><br><br>
                        <label for="destination">Destination:</label><br>
                        <input type="text" id="destination-default-search" name="destination"><br><br>
                        <button type="submit" value="Submit" class='btn btn-outline-light' onclick="defaultSearch()">Search</button> 
                    </form>
                </div>
                <!-- Search by Route Menu -->
                {% block test_json_content %} {% endblock %}
                
                <!-- Search by Bus Stop Menu -->
                <div id='bus-stop-search-container' class="container centre-and-padding tabcontent">
                    <h3>Plan Your Trip</h3>
                    <form action="/">
                        <label for="origin">Bus Stop:</label><br>
                        <input type="text" id="origin-default-search" name="origin"><br><br>
                        
                        <button type="submit" value="Submit" class='btn btn-outline-light' onclick="defaultSearch()">Search</button> 
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut diam quam nulla porttitor massa id neque aliquam. Pretium vulputate sapien nec sagittis aliquam malesuada. Est ullamcorper eget nulla facilisi etiam dignissim diam. Nec feugiat nisl pretium fusce. Urna id volutpat lacus laoreet non curabitur gravida arcu ac. Facilisi nullam vehicula ipsum a arcu cursus vitae. Sed blandit libero volutpat sed cras. Urna neque viverra justo nec ultrices dui sapien eget. Orci ac auctor augue mauris augue neque gravida in fermentum. Pellentesque pulvinar pellentesque habitant morbi tristique senectus. Odio ut sem nulla pharetra diam sit amet. Fringilla phasellus faucibus scelerisque eleifend. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Dignissim enim sit amet venenatis urna cursus eget.
    Risus nec feugiat in fermentum. Tempus egestas sed sed risus. Amet mauris commodo quis imperdiet massa tincidunt nunc. Tellus integer feugiat scelerisque varius morbi enim. Tincidunt augue interdum velit euismod in. Varius quam quisque id diam vel quam elementum pulvinar etiam. Platea dictumst vestibulum rhoncus est. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Volutpat consequat mauris nunc congue nisi vitae. Et leo duis ut diam quam.
    Aliquam etiam erat velit scelerisque in dictum non consectetur a. Pellentesque elit eget gravida cum sociis natoque penatibus. Est ultricies integer quis auctor elit sed. A condimentum vitae sapien pellentesque habitant morbi. Elementum nisi quis eleifend quam. Egestas sed tempus urna et. Viverra ipsum nunc aliquet bibendum enim facilisis gravida neque convallis. Eget arcu dictum varius duis at consectetur lorem donec. Lectus magna fringilla urna porttitor rhoncus dolor purus non enim. Sed sed risus pretium quam vulputate dignissim. Consectetur libero id faucibus nisl tincidunt. Molestie at elementum eu facilisis sed. Lorem ipsum dolor sit amet consectetur adipiscing elit. Lectus quam id leo in vitae turpis. Curabitur vitae nunc sed velit dignissim sodales ut eu. Eget felis eget nunc lobortis mattis aliquam faucibus.</p>
    
    <!-- Storing the Routes in a dropdown -->
    {% comment %} {% block select_routes_content %} {% endblock %} {% endcomment %}

    <!-- Using a for loop to render all the Route instances for testing purposes -->
    <!-- {% block test_routes_content %} {% endblock %} -->
    
    <!-- Using a for loop to render all the BusStop instances for testing purposes -->
    <!-- {% block bus_stops_content %} {% endblock %} -->
    
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script> <!-- Connected JS script needs to be down here or else can't "see" html elements -->
    <script>
        var weather = JSON.parse('{{ weather|escapejs }}'); 
        
        // ++++++++ Making JSON data available in app.js! ++++++++
        var main_table_object = {{ main_table_data|safe }};
        var route_origin_and_destination_object = {{ route_origin_and_destination_data|safe }};
    </script>
    <script type="text/javascript" src="{% static 'js/weather.js' %}"></script> 
    
    <!-- Script for the map -->
    <!-- <script type="text/javascript"> 
        var stops = JSON.parse('{{ bus_stops|escapejs }}');        
    </script> -->
    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>   
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&callback=initMap">
    </script>
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script> 

</body>
</html>