{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> 
   
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Select by Route</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Select by Bus Stop <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="search-elements-container">
        <label for="route">Route/ Bus Number:</label>
        <select name="initial-dropdown" id="initial-dropdown">
            <!-- Where the route numbers go dynamically -->
        </select>
        <!-- WHERE THE ORIGIN, DESTINATION ETC INFO GOES upon option click-->
    </div>
    
    <div class="container">  
        <!-- Map -->
        <div id="map" style="height:500px; width:100%"></div>
        
        <h1 class="jumbotron">I am a test heading in a bootstrap jumbotron</h1>
        <p>Testing we are connected to JS file: </p>
        <p id="test-js-connection"></p>
        <h3>The image below was injected in with template tagging</h3>
        <img src="{% static "images/example.jpg"%}" alt="This should be an Image of a Route 1 Dublin Bus">
    </div>

    <!-- Messing around with template Injections -->

    <!-- Storing the Routes in a dropdown -->
    <div id="test-routes-select-container" class='container'>
        <label for="route">Injected Route/ Bus Number:</label>
        <br>
        <!-- Using a form (in combo with forms.py) - Think needed for DB queries -->
        <label for="route">Using a Form</label>
        <form action="/" method='post'>
            {% csrf_token %}
            {{ route_form }}
            <input type=submit value="Select Route">
        </form>

        <!-- Using a select (not as interactive I think) -->
        {% comment %} <label for="route">Using a Select</label>
        <select name="route-injection-dropdown" id="route-injection-dropdown">
            {% block test_select_routes_content %}
                {% for route in routes %}
                    <option value='{{route.route_name}}'>{{ route.route_name }}</option>
                {% endfor %}
            {% endblock %}
        </select> {% endcomment %}
        
    </div>

    <!-- Storing the Bus Stops of the Route in a table-->
    <div id="test-busstops-select-container" class='container'>
        <label for="route">Injected Route/ Bus Number:</label>
        <select name="route-injection-dropdown" id="route-injection-dropdown">
            {% block test_select_busstops_content %}
                {% for route in routes %}
                    <option>{{ route.route_name }}</option>
                {% endfor %}
            {% endblock %}
        </select>
    </div>

    <!-- Using a for loop to render all the Route instances for testing purposes -->
    <div id="test-routes-container" class='container'>
        {% block test_routes_content %}
            {% for route in routes %}
                <p>Route Name: {{ route.route_name }}</p>
                <p>Origin: {{ route.origin }}</p>
                <p>Destination: {{ route.destination }}</p>
                <hr style='height: 1px; color: #333; background-color: #333;'>
            {% endfor %}
        {% endblock %}
    </div>
    
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script> <!-- Connected JS script needs to be down here or else can't "see" html elements -->
    
    <!-- Script for the map -->
    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>   
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&callback=initMap">
    </script>

</body>
</html>