{% extends "base.html" %}

{% block test_json_content %}
<div id='search-by-route-container' class="container centre-and-padding">
    <!-- Route Dropdown -->
    <label for="route-dropdown">Select Route:</label>
    <select onchange="showAndLoadStartAndEndDrops()" id="json-routes">
        <option value="" disabled selected>Select a Route</option>
    </select>

    <div id="stops-dropdowns-container" style="display: none;">
        <!-- Origin to Destination -->
        <div id="origin-to-destination-div">
            <h5 id="origin-to-destination-header"></h5>
        </div>
        <!-- Starting Point Dropdown -->
        <div>
            <label for="starting-dropdown">Select Start Point:</label>
            <select name="" id="json-starting-stops"></select>
        </div>
        <!-- Ending Point Dropdown -->
        <div>
            <label for="ending-dropdown">Select End Stop:</label>
            <select name="" id="json-ending-stops"></select>
        </div>
        <button class='btn btn-outline-light' onclick="generateStopArray()" style="margin-top:15px;">Show Journey</button>
    </div>
</div>
{% endblock  %}


{% block select_routes_content %}
    <div id="test-routes-select-container" class='container'>
    {% comment %}
        <label for="route">Injected Route/ Bus Number:</label>
        <br>
        <!-- Using a form (in combo with forms.py) - Think needed for DB queries -->
        <label for="route">Using a Form with forms.py</label>
        <form action="/">
            {% csrf_token %}
            {{ route_form }}
            <input type=submit value="Select Route">
        </form>

        <!-- Using a model form (in combo with forms.py) - Think needed for DB queries -->
        <label for="route">Using a Model Form with forms.py</label>
        <form action="show_modelform_route" method="POST">
            {% csrf_token %}
            {{ route_model_form }}
            <input type=submit value="Select Route">
        </form>
    {% endcomment %}

        <!-- Using a form with a for loop (not as interactive I think) -->
        {% comment %} <label for="route">Using a Form with for loop</label>
        <form action="show_route" method="POST">
            {% csrf_token %}
            {% block test_select_routes_content %}
                <select class="form-control" id="optRoute" name="route" required>
                    {% for route in routes %}
                        <option value='{{route.route_name}}'>{{ route }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Select Route">
            {% endblock %}
        </form> {% endcomment %}

        <!-- Using a select (not as interactive I think) -->
        <!-- <label for="route">Using a Select</label>
        <select name="route-injection-dropdown" id="route-injection-dropdown">
            {% block test_select_routes_content %}
                {% for route in routes %}
                    <option value='{{route.route_name}}'>{{ route.route_name }}</option>
                {% endfor %}
            {% endblock %}
        </select> -->
    </div>
{% endblock %} 

{% block test_routes_content %}
    <div id="test-routes-container" class='container'>
        {% for route in routes %}
            <p>Route Name: {{ route.route_name }}</p>
            <p>Origin: {{ route.origin }}</p>
            <p>Destination: {{ route.destination }}</p>
            <hr style='height: 1px; color: #333; background-color: #333;'>
        {% endfor %}
    </div>
{% endblock %}

{% block bus_stops_content %}
    {% for stop in bus_stops %}
        <p>Bus Stop: {{ stop.stop_num }}</p>
        <p>LAT: {{ stop.latitude }}</p>
        <p>LONG: {{ stop.longitude }}</p>
    {% endfor %}
{% endblock %}