{% extends "base.html" %}

{% block select_routes_content %}
    <div id="test-routes-select-container" class='container'>
        <label for="route">Injected Route/ Bus Number:</label>
        <br>
        <!-- Using a form (in combo with forms.py) - Think needed for DB queries -->
        <label for="route">Using a Form</label>
        <form action="show_route">
            {% csrf_token %}
            {{ route_form }}
            <input type=submit value="Select Route">
        </form>

        <!-- Using a select (not as interactive I think) -->
        {% comment %} <label for="route">Using a Select</label>
        <select name="route-injection-dropdown" id="route-injection-dropdown">
            {% block test_select_routes_content %}
                {% for route in routes %}
                    <option value='{{route.route_name}}'>{{ route.route_name }}</option>
                {% endfor %}
            {% endblock %}
        </select> {% endcomment %}
    </div>
{% endblock %}

{% block test_routes_content %}
    <div id="test-routes-container" class='container'>
        {% for route in routes %}
            <p>Route Name: {{ route.route_name }}</p>
            <p>Origin: {{ route.origin }}</p>
            <p>Destination: {{ route.destination }}</p>
            <hr style='height: 1px; color: #333; background-color: #333;'>
        {% endfor %}
    </div>
{% endblock %}