<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block show_routes_content %}
        <h1>SHOW ROUTE PAGE</h1>
        <h1>You are looking at the bus stop objects for Route: {{ selected_route }} object</h1>
        {% for bus_stop in bus_stops_on_route %}
            <p>{{ bus_stop }}</p>
        {% endfor %}
        <p>{{ bus_stops_on_route }}</p>
    {% endblock %}

    <script>
        console.log({{ selected_route }});
        console.log(typeof ({{ selected_route }}));
        console.log( {{ bus_stops_on_route }}); // Can't print this (probably coz it's a queryset obj?)
        console.log({{ selected_route }});
        console.log({{ selected_route }});
    </script>
</body>
</html>
