html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top:35px;
}

#map {
    height: 100%;
    width: 100%;
}

.header {
    background-color: rgb(248,249,250);
}

#weather-container {
    padding-right: 20px;
}

#search-elements-container, #test-routes-select-container {
    background-color: lightblue;
    display: inline-block;
    padding: 1em;
}
#home-search-container {
    display: block;
    background-color: lightblue;
    width: 300px;
    padding: 1em;
}

/* Styling the ModelChoiceForm dropdown */
.drop-down-list {
    color: red;
    font-size: 2rem;
}

#search-by-route-container {
    display: none;
    background-color: lightblue;
    width: 300px;
    padding: 1em;
}

#origin-to-destination-div {
    background-color: white;
}

.centre-and-padding {
    padding: 0.2em;
    text-align: center;
    margin-top: 0.2em;
}


#bus-stop-search-container {
    display: none;
    background-color: lightblue;
    width: 300px;
    padding: 1em;
}

.search-by-busstop-options {
    background:white;
    border: 0.02em solid black;
    padding: 0.5em;
}

.search-by-busstop-options:hover {
    background-color: rgb(224, 213, 213);
}

.busstop-option {
    margin: 0em;
}

.total-matches-shown {
    background:black;
    color: antiquewhite;
    border: 0.02em solid black;
    padding: 0.5em;
}

#my-location-btn-img {
    height: 2rem;
    width: 2.2rem;
}

.journey-details {
    background: white;
    font-size: 0.75rem;
    margin-top: 20px;
    padding: 1em;
}

.journey-details h6 {
    text-decoration: underline;
}

.attractions-summary {
    text-align: justify;
}

.attractions-image {
    padding-bottom: 10px;
    padding-top: 10px;
}

#marker-window-realtime-content {
    text-align: center;
}

/* ERROR for Origin and Destination */
.error {
    position: relative;
    animation: shake .5s linear;
    animation-iteration-count: 3;
    border: 1px solid red;
    background-color: #f55b81;
    outline: none;
}

/* CAN'T GET SHAKING TO WORK! */
@keyframes shake {
    0% {
      left: -5px;
    }
    100% {
      right: -5px;
    }
  }