html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 35px;
}

#map {
  height: 100%;
  width: 100%;
}

.header {
  background-color: rgb(248, 249, 250);
}

#weather-container {
  padding-right: 20px;
}

#search-elements-container,
#test-routes-select-container {
  background-color: lightblue;
  display: inline-block;
  padding: 1em;
}

.display-container {
  display: block;
  padding: 1em;
}

#origin-to-destination-div {
  background-color: white;
}

.centre-and-padding {
  padding: 0.2em;
  text-align: center;
  margin-top: 0.2em;
}

.search-by-busstop-options {
  background: white;
  border: 0.02em solid black;
  padding: 0.5em;
}

.search-by-busstop-options:hover {
  background-color: rgb(224, 213, 213);
}

.busstop-option {
  margin: 0em;
}

.total-matches-shown {
  background: black;
  color: antiquewhite;
  border: 0.02em solid black;
  padding: 0.5em;
}

#my-location-btn-img {
  height: 2rem;
  width: 2.2rem;
}

.journey-details {
  background: white;
  font-size: 0.75rem;
  margin-top: 20px;
  padding: 1em;
}

.journey-details h6 {
  text-decoration: underline;
}

.attractions-summary {
  text-align: justify;
}

.attractions-image {
  padding-bottom: 10px;
  padding-top: 10px;
}

#marker-window-realtime-content {
  text-align: center;
}

/* ERROR for Origin and Destination */
.error {
  position: relative;
  animation: shake 0.5s linear;
  animation-iteration-count: 3;
  border: 1px solid red;
  background-color: #f55b81;
  outline: none;
}

/* CAN'T GET SHAKING TO WORK! */
@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5px;
  }
}

#greeting-banner {
  margin: 1rem;
  color: red;
}
/*----------- Search menu ---------------*/
.Main_container {
  height: 100%;
  width: 100%;
  position: relative;
}

/* Entire Blue Search Menu */
.Search-Menu-Container {
  background-color: white;
  width: 30%;
  /* min and max widths to manage size */
  max-width: 350px;
  min-width: 250px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-left: 15px;
  /* left: 15px; */
  top: 0px;
  z-index: 98;
  text-align: center;
  /* style="position: absolute; left:15px; top:0px; z-index:98;" */
}
select,
#busstop-search {
  width: 100%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  /* float: left; */
  border: none;
  outline: none;
  cursor: pointer;
}

button {
    border-radius: 100%;
    transition: background-color 0.5s ease;
    margin: 0px 5px 0px 5px;
}

/* Change background color of buttons on hover */
button:hover {
  background-color: lightblue;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: lightblue;
}

.btn-submit {
    border-color: lightblue;
}

.btn-submit:hover {
    color: white;
}

/* Style te tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  text-align: center;
}

/* Favourites Table */
#favourites-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#favourites-table td, #favourites-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#favourites-table tr:nth-child(even){
  background-color: #f2f2f2;
}

#favourites-table tr:hover {
  background-color: #ddd;
}

#favourites-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightskyblue;
  color: white;
}

/* Make favourites popup bigger when on a large screen (XL) */
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}

/* No Journeys message */
#no-journeys-message {
  text-align: center;
  margin-top: 20px;
}
